---
import Layout from '../layouts/Layout.astro';
import EmalForm from '../components/EmailForm.tsx';
---
<Layout headerType="boxed">
    <div slot="body-content">
<!--/-->
    <!--Wrapper-->
    <div class="app-wrapper">
<div class="page page-inferior page-faq">
    <EmalForm client:visible/>
</div>
    </div>
</div>
</Layout>